<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml"></include>
	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml"></include>
	<timestamp key="LOG_DATE" datePattern="yyyyMMdd"></timestamp>
	<springProperty name="LOG_FILE" source="path.log" />
	<property name="LOG_PATTERN"
		value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-5le %lo{36} - %msg %n"></property>

	<root level="INFO">
		<appender-ref ref="CONSOLE"></appender-ref>
	</root>
	<!-- 環境ごとに出力設定 -->
	<springProfile name="production">
		<!-- appenderが"FILE"の場合の設定 -->
		<appender name="FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder>
				<pattern>${LOG_PATTERN}</pattern>
			</encoder>
			<!-- 出力先ファイルは"LOG_FILE"のパス -->
			<file>${LOG_FILE}</file>
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_FILE}.%d</fileNamePattern>
				<maxHistory>7</maxHistory>
			</rollingPolicy>
		</appender>
		<root level="INFO">
			<appender-ref ref="FILE"></appender-ref>
		</root>
	</springProfile>

</configuration>