<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
	<!-- logbackの解析状況を表示しない -->
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />
	<timestamp key="LOG_DATE" datePattern="yyyyMMdd" />

	<!-- 環境ごとに出力設定 -->
	<springProfile name="local">
		<include
			resource="org/springframework/boot/logging/logback/console-appender.xml" />
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<springProfile name="production">
		<springProperty name="LOG_FILE" source="path.log.all" />
		<springProperty name="LOG_FILE_ERROR"
			source="path.log.error" />
		<!-- appenderが"FILE"の場合の設定 -->
		<appender name="FILE_INFO"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder>
				<!-- defaults.xmlに記載あり -->
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</encoder>
			<!-- 出力先ファイルは"LOG_FILE"のパス -->
			<file>${LOG_FILE}</file>
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_FILE}.%d</fileNamePattern>
				<maxHistory>7</maxHistory>
			</rollingPolicy>
		</appender>
		<appender name="FILE_ERROR"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</encoder>
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
				<level>ERROR</level>
				<onMathch>ACCEPT</onMathch>
				<onMismatch>DENY</onMismatch>
			</filter>
			<!-- 出力先ファイルは"LOG_FILE"のパス -->
			<file>${LOG_FILE_ERROR}</file>
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_FILE_ERROR}.%d</fileNamePattern>
				<maxHistory>7</maxHistory>
			</rollingPolicy>
		</appender>
		<root level="INFO">
			<appender-ref ref="FILE_INFO" />
			<appender-ref ref="FILE_ERROR" />
		</root>
	</springProfile>

</configuration>